.profile_img {
  width: 90%;
  height: 90%;
  background-size: contain;
  display: inline-block;
  border-radius: 50%;
}
.wrapper {
  background: linear-gradient(
    117deg,
    rgba(169, 12, 200, 1) 30%,
    rgba(42, 34, 194, 1) 60%,
    rgba(164, 135, 228, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  width: 280px;
  height: 280px;
  margin-left: 9%;

  margin-top: 15%;
}
@media screen and (max-width: 1540px) {
  .wrapper {
    width: 200px;
    height: 200px;
    margin-top: 12%;
    margin-left: 18%;
  }
}
