.header {
  z-index: 1;
  padding: 0px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    117deg,
    rgba(169, 12, 200, 1) 0%,
    rgba(42, 34, 194, 1) 29%,
    rgba(164, 135, 228, 1) 100%
  );
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}

.btns_guest {
  display: flex;
  align-items: center;
}

.name {
  display: flex;
  gap: 40px;
}

.login,
.btn_home,
.btn_profile,
.btn_myposts,
.btn_search {
  padding: 5px 25px;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  background-color: #5500ff;
  color: white;
  text-decoration: none;
}

.register {
  margin-left: 40px;
  font-size: 18px;
  padding: 5px 16px;
  border-radius: 15px;
  background-color: #5500ff;
  border: none;
  color: white;
  text-decoration: none;
}

.register:hover,
.login:hover {
  cursor: pointer;
}
.name h2:hover {
  cursor: default;
}

.btns_user {
  display: flex;
  gap: 15px;
  height: fit-content;
  align-self: center;
}

.welcome_user {
  background-color: #99b3ff;
  width: fit-content;
  padding: 6px 20px;
  font-weight: bold;
  border-radius: 20px;
}
.welcome_user:hover {
  cursor: default;
}

.welcome_user p {
  margin: 0;
}
