.header {
  z-index: 1;
  display: flex;
  align-items: center;
  background: linear-gradient(
    117deg,
    rgba(169, 12, 200, 1) 0%,
    rgba(42, 34, 194, 1) 29%,
    rgba(164, 135, 228, 1) 100%
  );
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}

.btns_guest {
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 1300px;
  align-items: center;
}

.name {
  /* background-color: green; */
  display: inline-block;
  margin-left: 100px;
}

.login {
  padding: 5px 25px;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  background-color: #5500ff;
  color: white;
}

.register {
  margin-left: 40px;
  font-size: 18px;
  padding: 5px 16px;
  border-radius: 15px;
  background-color: #5500ff;
  border: none;
  color: white;
}

.register:hover,
.login:hover,
.name {
  cursor: pointer;
}

.btns_user {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 30px;
}

.btn_users,
.btn_profile,
.btn_chat {
  margin-left: 15px;
}

.btn_logout {
  margin-left: 1100px;
}
