.container {
  background: linear-gradient(
    117deg,
    rgba(169, 12, 200, 1) 30%,
    rgba(42, 34, 194, 1) 60%,
    rgba(164, 135, 228, 1) 100%
  );
  width: 60%;
  height: 70%;
  border-radius: 25px;
  margin-top: 5%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  /* margin-left: 40%;
  margin-right: 40%; */
  align-self: center;
  padding: 0px 20px;
  border-radius: 20px;
  background-color: #99b3ff;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  height: 44px;
  align-items: center;
}
@media screen and (max-width: 1540px) {
  .content {
    height: 80%;
  }
  .container {
    height: 84%;
  }
  .content ul {
    gap: 10px;
  }
}
.content {
  background-color: white;
  border-radius: 20px;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  justify-content: center;
}
.content ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.img {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 50%;
}

.list_cell {
  background-color: #99b3ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: bolder;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.list_cell input {
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px;
}

.list_cell_pic {
  background-color: #99b3ff;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* margin-right: 6%; */
  font-size: 24px;
  font-weight: bolder;
  border-radius: 20px;
  color: white;
  gap: 10px;
}

.img_input {
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px;
}

.list_bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list_left_pic {
  margin-left: 26%;
  padding-top: 8px;
}
.list_right_pic {
  margin-left: 5%;
}

.btn:hover {
  color: black;
}

.saved {
  background-color: green;
}
.saved:hover {
  background-color: green;
}
