.wrapper {
  display: flex;
  padding: 0px 80px;
  height: 100vh;
}

.left_column {
  width: 30%;
  display: flex;
  flex-direction: column;
  /* background-color: lightcoral; */
}

.right_column {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* background-color: lightcyan; */
}
