.wrapper {
  height: 100%;
  width: 100%;

  background: linear-gradient(
    67deg,
    rgba(112, 110, 222, 1) 0%,
    rgba(74, 91, 140, 1) 46%,
    rgba(118, 18, 164, 1) 93%
  );

  position: absolute;
  z-index: -1;
}
